body {
    font-size: 16px;
}


h1 {
    color: orangered;
    font-family: sans-serif;
    font-weight: 600;
    font-style: oblique;
}

#cores-lista {
    background-color: green; 
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration: underline;
}

.titulo {
    color: white; 
    background-color: black;
    font-size: 3em;
}

#azul-texto {
    background-color: blue;
}

#verde-texto {
    background-color: green;
}

#laranja-texto {
    background-color: orangered;
}